body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.carousel-item {
    width: 100%;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    .carousel-item {
        height: 280px;
    }
}

.Accidente {
    color: #ffffff;
    width: 350px;
}

.titulo-noticia {
    color: blanchedalmond;
}


.footerfondo {
    background: rgba(211, 210, 210, 0.603);
}